/* body */

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* calculator */

#calculator {
  border: 8px solid rgba(255, 255, 255, 0.26);
  border-radius: 20px;
  overflow: hidden;
  height: 700px;
  width: 600px;
  display: grid;
  grid-template-rows: 0.8fr 2fr;
}

/* input display */

#inputDisplay {
  height: 100%;
  width: 100%;
  direction: ltr;
  border: none;
  outline: none;
  background-color: black;
  padding-inline: 20px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}

/* buttons */

#buttons {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.btn,
.del,
.percent,
.ac,
.equal {
  font-weight: bold;
  font-size: 30px;
  border-radius: 20px;
  background-color: #2f2f2f;
  color: white;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  transition: 0.3s;
}
.del,
.percent,
.ac {
  background-color: #9a9a9a !important;
}

.equal,
.multiple,
.divide,
.add,
.minus {
  background-color: #ee9406 !important;
  color: white !important;
}

.btn:active,
.equal:active,
.ac:active,
.del:active,
.percent:active {
  transform: scale(0.8);
}

@media only screen and (max-width: 450px) {
  #calculator {
    border: none;
  }
}
